<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" background="http://spicyauctiontemplates.com/images/ebay_templates/gifts_template/img/bg.jpg">
<tr>
<td>
<table width="1000" border="0" align="center" cellspacing="0" cellpadding="0">
  <tr>
    <td><img src="http://spicyauctiontemplates.com/images/ebay_templates/gifts_template/img/header.jpg" alt="Gifts" width="1000" height="188" /></td>
  </tr>
  </table>
   <table width="1000" border="0" align="center" cellspacing="0" cellpadding="0">
  <tr>
       <td colspan="3" align="center"><img src="http://spicyauctiontemplates.com/images/ebay_templates/gifts_template/img/maintop.jpg" width="1000" height="18" /></td>

  </tr>
  <tr>
    <td align="center" valign="top" background="http://www.arristreasures.com/template/gift/images/mainmid.jpg"><table width="610" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td align="left" valign="top"><font size="2" face="Verdana">Text Goes Here
          Text Goes Here Text Goes Here
          Text Goes Here Text Goes Here
          Text Goes Here Text Goes Here
          Text Goes Here Text Goes Here
          Text Goes Here Text Goes Here
          Text Goes Here Text Goes Here
          Text Goes Here Text Goes Here
          Text Goes Here Text Goes Here
          Text Goes Here Text Goes Here
          Text Goes Here Text Goes Here
          Text Goes Here Text Goes Here
          Text Goes Here Text Goes Here
          Text Goes Here Text Goes Here
          Text Goes Here Text Goes Here
          Text Goes Here Text Goes Here
          Text Goes Here </font> <font size="2" face="Verdana">Text Goes Here Text Goes Here
          Text Goes Here Text Goes Here
          Text Goes Here Text Goes Here
          Text Goes Here Text Goes Here
          Text Goes Here Text Goes Here
          Text Goes Here Text Goes Here
          Text Goes Here</font> <font size="2" face="Verdana">Text Goes Here Text Goes Here
          Text Goes Here Text Goes Here
          Text Goes Here </font> <font size="2" face="Verdana">Text Goes Here Text Goes Here
          Text Goes Here Text Goes Here
          Text Goes Here Text Goes Here
          Text Goes Here Text Goes Here
          Text Goes Here Text Goes Here
          Text Goes Here Text Goes Here
          Text Goes Here</font> <font size="2" face="Verdana">Text Goes Here Text Goes Here
          Text Goes Here Text Goes Here
          Text Goes Here </font> <font size="2" face="Verdana">Text Goes Here Text Goes Here
          Text Goes Here Text Goes Here
          Text Goes Here Text Goes Here
          Text Goes Here Text Goes Here
          Text Goes Here Text Goes Here
          Text Goes Here Text Goes Here
          Text Goes Here</font> <font size="2" face="Verdana">Text Goes Here Text Goes Here
          Text Goes Here Text Goes Here
          Text Goes Here </font> <font size="2" face="Verdana">Text Goes Here Text Goes Here
          Text Goes Here Text Goes Here
          Text Goes Here Text Goes Here
          Text Goes Here Text Goes Here
          Text Goes Here Text Goes Here
          Text Goes Here Text Goes Here
          Text Goes Here</font><br />

        <br /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="center"><img src="http://spicyauctiontemplates.com/images/ebay_templates/gifts_template/img/mainbot.jpg" width="800" height="25" /></td>
  </tr>
  </table>
    <table width="800" border="0" align="center" cellspacing="0" cellpadding="0">

  <tr>
    <td align="center"><img src="http://spicyauctiontemplates.com/images/ebay_templates/gifts_template/img/payment.jpg" width="800" height="80" /></td>
  </tr>
  <tr>
    <td align="center" background="http://spicyauctiontemplates.com/images/ebay_templates/gifts_template/img/lowermid.jpg"><table width="500" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="left"><font size="2" face="Verdana">Text Goes Here<br />
          Text Goes Here<br />

          <br />
        </font> </td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="center"><img src="http://spicyauctiontemplates.com/images/ebay_templates/gifts_template/img/shipping.jpg" width="800" height="92" /></td>
  </tr>

  <tr>
    <td align="center" background="http://spicyauctiontemplates.com/images/ebay_templates/gifts_template/img/lowermid.jpg"><table width="500" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="left"><font size="2" face="Verdana">Text Goes Here<br />
          Text Goes Here<br />
          <br />
        </font> </td>

      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="center"><img src="http://spicyauctiontemplates.com/images/ebay_templates/gifts_template/img/contacts.jpg" width="800" height="92" /></td>
  </tr>
  <tr>
    <td align="center" background="http://spicyauctiontemplates.com/images/ebay_templates/gifts_template/img/lowermid.jpg"><table width="500" border="0" cellspacing="0" cellpadding="0">
      <tr>

        <td align="left"><font size="2" face="Verdana">Text Goes Here<br />
          Text Goes Here<br />
          <br />
        </font> </td>
      </tr>
    </table></td>
  </tr>

  <tr>
    <td align="center"><img src="http://spicyauctiontemplates.com/images/ebay_templates/gifts_template/img/returns.jpg" width="800" height="92" /></td>
  </tr>
  <tr>
    <td height="51" align="center" background="http://spicyauctiontemplates.com/images/ebay_templates/gifts_template/img/lowermid.jpg"><table width="500" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="left"><font size="2" face="Verdana">Text Goes Here<br />
            Text Goes Here<br />

            <br />
          </font> </td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td align="center" background="http://spicyauctiontemplates.com/images/ebay_templates/gifts_template/img/lowmid.jpg"><img src="http://spicyauctiontemplates.com/images/ebay_templates/gifts_template/img/feedback.jpg" alt="Green Ghost" width="583" height="650" /></td>
  </tr>

  <tr>
    <td width="800" height="133" align="left" valign="top" background="http://spicyauctiontemplates.com/images/ebay_templates/gifts_template/img/footer.jpg"><table width="800" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="100" height="54">&nbsp;</td>
        <td width="700">&nbsp;</td>
      </tr>
      <tr>
        <td height="20">&nbsp;</td>
        <td align="left" valign="middle"><a href="http://www.spicyauctiontemplates.com"><img src="http://spicyauctiontemplates.com/images/ebay_templates/gifts_template/img/linkpict.gif" alt="Spicy Auction Templates" width="300" height="20" border="0"></a></td>

      </tr>
      <tr>
        <td height="19">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  </table>
  </td>

</tr>
</table>

